/* ------------------------------------------------------------ *\
	Copyright
\* ------------------------------------------------------------ */

.copyright {
	font-size: 1.4rem;
	letter-spacing: 0.1em;
	display:flex;
	align-items:center;
	justify-content:center;

	@include breakpoint-down(xl-desktop) {
		font-size: 1.2rem;
	}

	@include breakpoint-down(large-desktop) {
		font-size: 1rem;
	}

	@include breakpoint-down(tablet) {
		font-size: 1.2rem;
	}
	
	img {
		margin-left: 0.2rem; 
		margin-right: -0.6rem; 

		@include breakpoint-down(large-desktop) {
			height: 1.5rem;
		}
	}
}