/* ------------------------------------------------------------ *\
	Grid
\* ------------------------------------------------------------ */

.grid {
	--guter-x : 4rem;
	--guter-y : 4rem;

	@include breakpoint-down(tablet) {
		--guter-x : 3rem;
		--guter-y : 4rem;
	}

	@include breakpoint-down(mobile) {
		--guter-x : 1.5rem;
		--guter-y : 1.5rem;
	}

	display:flex; flex-wrap: wrap;
	margin: calc(var(--guter-y) * -1) calc(var(--guter-x) * -0.5) 0;
}

.grid--center { align-items:center; }
.grid--v-center { justify-content:center; }

.grid .grid__col { padding: var(--guter-y) calc(var(--guter-x) * 0.5) 0; width: 100%; }

.grid .grid__col--1of2 { width: 50%; }
.grid .grid__col--1of3 { width: 33.33%; }
.grid .grid__col--2of3 { width: 66.66%; }
.grid .grid__col--1of4 { width: 25%; }
.grid .grid__col--3of4 { width: 75%; }
.grid .grid__col--1of6 { width: 16.66%; }
.grid .grid__col--1of8 { width: 12.5%; }
.grid .grid__col--5of12 { width: 41.66%; }
.grid .grid__col--7of12 { width: 58.33%; }

.grid .offset--1of12  { margin-left: 8.33%; }
.grid .offset--11of12 { margin-left: 91.63% ; }


@include breakpoint-down(tablet) {
	.grid .grid__col-tablet--1of2 { width: 50%; }
	.grid .grid__col-tablet--1of3 { width: 33.33%; }

	.grid--disable-tablet { }
	.grid--disable-tablet > .grid__col { width: 100%; margin: 0; }
}

@include breakpoint-down(mobile) {

	.grid .grid__col-mobile--1of1 { width: 100%; }
	.grid .grid__col-mobile--1of2 { width: 50%; }
	.grid .grid__col-mobile--1of3 { width: 33.33%; }
	
	.grid--disable-mobile { }
	.grid--disable-mobile > .grid__col { width: 100%; margin: 0; }

}
