<div class="section__aside-head">
	<a href="#" class="nav-trigger js-nav-trigger">
		<img
			width="25"
			height="23"
			src="assets/images/icos/hamburger-menu.svg" 
			alt="hamburger-menu"
		>
	</a>
</div><!-- /.section__aside-head -->

<div class="section__aside-logo">
	<a href="login.html" class="logo">
		<img
			src="assets/images/logo.png" 
			srcset="assets/images/logo.png 1x, assets/images/logo@2x.png 2x"
			alt="armin van buuren loго"
		>
	</a>
</div><!-- /.section__aside-head -->

<div class="section__aside-nav">
	<include src="nav.html"></include>
</div><!-- /.section__aside-nav -->

<div class="section__aside-access">
	<nav class="nav-access">
		<ul>
			<li>
				<a href="login.html">Login</a>
			</li>
		
			<li>
				<a href="sign-up.html">Sign Up</a>
			</li>
		</ul>
	</nav><!-- /.nav-access -->
</div><!-- /.section__aside-nav -->

<div class="section__aside-logos">
	<ul class="list-logos">
		<li>
			<a href="#">
				<img
					src="assets/images/apple-store.png" 
					srcset="assets/images/apple-store.png 1x, assets/images/apple-store@2x.png 2x"
					alt="apple-store"
				>
			</a>
		</li>
	
		<li>
			<a href="#">
				<img
					src="assets/images/google-store.png" 
					srcset="assets/images/google-store.png 1x, assets/images/google-store@2x.png 2x"
					alt="google-store"
				>
			</a>
		</li>
	</ul>
</div><!-- /.section__aside-nav -->

<div class="section__aside-foot">
	<p class="copyright">
		<span>POWERED BY</span>

		<img
			src="assets/images/TM.png" 
			srcset="assets/images/TM.png 1x, assets/images/TM@2x.png 2x"
			alt="TM"
		>
	</p><!-- /.copyright -->
</div><!-- /.section__aside-foot -->
