<nav class="nav">
	<ul>
		<li data-id="home">
			<a href="login.html">
				<img src="assets/images/icos/ico-home.svg" alt="ico" width="27" height="29">
				Home
			</a>
		</li>

		<li data-id="music">
			<a href="music-category.html">
				<img src="assets/images/icos/ico-music.svg" alt="ico" width="22" height="22">
				Music
			</a>
		</li>

		<li data-id="live">
			<a href="live-stream.html">
				<img src="assets/images/icos/ico-live.svg" alt="ico" width="17.6" height="29.4">

				Live Streams
			</a>
		</li>

		<li data-id="gallery">
			<a href="gallery.html">
				<img src="assets/images/icos/ico-videos.svg" alt="ico" width="19" height="22">
				Gallery
			</a>
		</li>

		<li data-id="fanclub">
			<a href="fan-club.html">
				<img src="assets/images/icos/ico-fanclub.svg" alt="ico" width="32" height="26">
				Fan Club
			</a>
		</li>

		<li data-id="settings">
			<a href="settings.html">
				<img src="assets/images/icos/ico-download.svg" alt="ico" width="24" height="24">
				Settings
			</a>
		</li>

		<li data-id="share">
			<a href="share.html">
				<img src="assets/images/icos/ico-share.svg" alt="ico" width="23" height="25">

				Share
			</a>
		</li>
	</ul>
</nav>